body{
    margin: 0px;
    color: #CBD4C2;
}

.parentcontainer {
    display: flex;
    height: 100vh;
}

.leftContainer {
    background-color:#587B7F;
    width: 50%;
    flex-direction: column;
    display: flex; 
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.piccontainer {
height: 50%;
width: 75%;
/* display: flex; */
margin: 25px auto;

}

h1 {
display: flex;
align-items: center;
justify-content: center;

}

.socialmediaContainer {
    display: flex;
    /* align-items: flex-end;
    justify-content: center;*/
    justify-content: space-around; 
    /* height: 50%; */
    /* width: 75%; */
    /* border: 20px; */
    /* margin: 25px auto; */

}

.socialmediaIcon {
    width: 13%;
    align-items: center;
    /* padding: 80px; */
    

}

.rightContainer {
    background-color: #393E41;
    width: 50%;
    padding: 2em;
    /* flex-direction: column; */
    /* display: flex; */
    
}

.casestudiesContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    height: 25vh;
    padding: 20px;
    background-color: #393E41;


}

.casestudyItem {
    /* display: flex; */
    /* flex-direction: column; */
    object-fit: contain;

}

@media only screen and (max-width: 768px) {

    [class*="casestudiesContainer"] {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 25vh;
        padding: 20px;
        background-color: #393E41;
      }
  }

